@model IEnumerable<MVCApp.Models.Computer>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>Here is a component part</div>
<br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Computer ID</th>
                <th>Computer Name</th>
                <th>Computer Ram</th>
                <th>Computer Ram Size</th>
                <th>Computer GPU</th>
                <th>Computer GPU Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comp in Model)
            {
                <tr>
                    <td>@comp.CompID</td>
                    <td>@comp.CompName</td>
                    <td>@comp.CompRAMName</td>
                    <td>@comp.CompRAMSize GB</td>
                    <td>@comp.CompGPUName</td>
                    <td>@comp.CompGPUSize GB</td>
                </tr>
            }
        </tbody>
    </table>